/* SETUP FONTS */

@font-face {
    font-family:'Champion-HTF-Lightweight';
    src: url('assets/fonts/Champion-HTF-Lightweight.eot');
    src: url('assets/fonts/Champion-HTF-Lightweight.ttf');
    format('truetype');
}

@font-face {
    font-family:'Champion-HTF-MiddleWeight';
    src: url('assets/fonts/Champion-HTF-Middleweight.eot');
    src: url('assets/fonts/Champion-HTF-Middleweight.ttf');
    format('truetype');
}

@font-face {
    font-family:'Champion-HTF-WelterWeight';
    src: url('assets/fonts/Champion-HTF-Welterweight.eot');
    src: url('assets/fonts/Champion-HTF-Welterweight.ttf');
    format('truetype');
}

@font-face {
    font-family:'Champion-HTF-Heavyweight';
    src: url('assets/fonts/Champion-HTF-Heavyweight.eot');
    src: url('assets/fonts/Champion-HTF-Welterweight.ttf');
    format('truetype');
}

@font-face {
    font-family:'Monotype-PlantinHeadlineMTStd-MdCN';
    src: url('assets/fonts/Monotype-PlantinHeadlineMTStd-MdCn.eot');
    src: url('assets/fonts/Monotype-PlantinHeadlineMTStd-MdCn.ttf');
    format('truetype');
}

/* SETUP PAGE */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
    font-size: 62.5%; 
}

body {
    box-sizing: border-box;
    font-family: 'Champion-HTF-Lightweight';
    font-size: 2rem;
    letter-spacing: 0.1rem;
}

.navbar{
    height: 15vh;
}

#bodyId{
    z-index: -99 !important;
}

/* COLORS */
/* 
MANHATTAN - DARK: #69CBC2, LIGHT: #D6F3EF
BROOKLYN - DARK: #ECB25D, LIGHT: #F3EBD6
BRONX - DARK: #BDCB7A, LIGHT: #E0EDA1
QUEENS - DARK: #BF9D9D, LIGHT: #DCCCCC
STATEN ISLAND - DARK: #E9A482, LIGHT: #F8DFD2

ANOTHER - DARK: #C1A9DE, LIGHT: #E0D6F7
 */

 /* MAIN CONTAINER */
.left{
    background-color: #9FCFC6;
    width: 50vw;
    z-index: -15;
}

.right{
    background-color: #D6F3EF;
}


.navbar {
    overflow: hidden;
    /* background-color: #333; */
    position: fixed;
    top: 0;
    width: 100%;
    height: 16rem;
    z-index: 2;
}

.main {
    /* padding: .5rem; */
    margin-top:15vh;
    padding-top: 2vh;
    position:relative;
}


.left-main-container { 
    display: inline-block; 
    padding: .5rem;
    width: 50vw; 
    /* height: 100%;   */
    background-color: #9FCFC6;
    font-family: "Monotype-PlantinHeadlineMTStd-MdCN";
    color: rgba(0,0,0,0.25);
    line-height: 1.2em;
    top: -25vh;
    font-size: 3.25rem;
    line-height: 3.5rem;
}

.right-main-container {
    display: inline-block; 
    position: fixed; 
    padding: .5rem;
    width: 50vw; 
    height: 100%; 
    z-index: -1;
}

.left-heading-container{
    display: inline-block;
    width: 50vw;
    height: 20vh;
    background-color: none;
    z-index: -120;
}

.right-heading-container{
    display: inline-block;
    position: absolute;
    width: 50vw;
    height: 20vh;
}

.section-title{
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 8rem;
    font-family: 
}


/* DROPDOWN STYLE */
#boroughOption{
    font-family: 'Champion-HTF-Lightweight';
    margin-top: 3vh;
    text-align: center;
    z-index: 50;
}

/* triangle*/
.borough-label img{
    padding-top: 1.5vh;
    margin-right: 6vw;
    padding-left: 1.35vw;
    margin-top: 3vh;
    width: 3rem;
    /* border: 1px solid red; */
}

.borough-label-container{
    /* margin-top: 3rem; */
    font-family: 'Champion-HTF-Lightweight';
    position: absolute;
    top: 1rem;
    left: 45vw;
    width: 11.5vw;
    border-bottom: 0.25em solid black;
    text-align: center;
    z-index: 50;
}

.borough-label-container:hover {
    /* transform: translateY(-3px); */
    /* box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);  */
}

.borough-label-container:hover::after {
      /* transform: scaleX(1.4) scaleY(1.6); */
      opacity: 0; 
}

.borough-label-container:active {
    /* transform: translateY(-1px); */
    /* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);  */
}

input, textarea, select, a { outline: none; }  /* get rid of ugly blue glow*/

.borough-label{
    position: absolute;
    /* display: inline; */
    /* text-align: left; */
    left: 70%;
    top: -.5rem;
    font-size: 2rem;
    margin-left: 1.2rem;
    text-transform: uppercase;
    -webkit-appearance: none;
}

select{
    /* background-color: none; */
    /* width: 25%; */
    /* padding: 3px; */
    /* padding-top: 5px; */
    font-family: 'Champion-HTF-Lightweight';
    text-align: center;
    /* font-family:'Monotype-PlantinHeadlineMTStd-MdCN', sans-serif; */
    text-transform: uppercase;
    margin-left: 2rem;
    /* color: white; */
    /* letter-spacing: 0.25pt; */
    background-color: rgba(255,255,255,0);
    border: 0;
    border-radius: 0;
    width: 85%;
    font-size: 2rem;
    /* height: 30px; */
    /* line-height: 1.5em; */
    -webkit-appearance: none;
    box-shadow: nones;
    }



/* COMPLAINT ID */

#theComplaints{
    display: inline;
    text-transform: capitalize;
}

#complaintDiv{
    padding: 3%;
    z-index: 2!important;
}


/* MAP */
#borough-map-stats{
    border: 1px solid rgba(255,255,255,0);
    height: 12vh;
    width: 20vw;
    position: fixed;
    bottom: 2vh;
    right: 3vw;
    font-family: 'Monotype-PlantinHeadlineMTStd-MdCN';
    color: black;
    font-size: 1.5em;
    letter-spacing: 0.1pt;
    line-height: 0.85em;
}

.map-stats{
    font-family: 'Monotype-PlantinHeadlineMTStd-MdCN';
    color: black;
    font-size: 1.5em;
    letter-spacing: 0.1pt;
}


/* BRONX */ 
#bronx-hover-map{
    border: 1px turquoise solid;
    z-index: 10;
    position: fixed;
    width: 46vw;
    height: 60vh;
    top: 20vh;
    right: 0;
    visibility: visible;
}


.hover-bronx-div{
    z-index: 12;
    border: 1px turquoise solid;
    position: fixed;
    color: rgba(255,255,255,0);
    display: block;
}


#sprain-bronx{
    z-index:999;
    position : absolute;
    float: right;
    top: 5vw;
    right: 12vw; 
    width: 15vw;
    height: 15vw;
}


#bruise-bronx{
    z-index:999;
    position: absolute;
    float: right;
    top:28vw;
    right: 24vw; 
    width: 13vw;
    height: 13vw;   
}


#cut-bronx{
    z-index:999;
    position: absolute;
    float: right;
    top: 12vw;
    left: 4vw; 
    width: 14vw;
    height: 14vw;  
}

#scratch-bronx{
    z-index:999;
    position: absolute;
    float: right;
    top: 4vw;
    left: 7vw; 
    width: 7vw;
    height: 7vw;  
}

#foreign-bronx{
    z-index:999;
    position: absolute;
    float: right;
    top: 28vw;
    right: 14vw; 
    width: 5vw;
    height: 5vw;  
}

#fracture-bronx{
    z-index:999;
    position: absolute;
    float: right;
    top: 22vw;
    right: 16vw; 
    width: 8vw;
    height: 6vw;  
}

#multiple-bronx{
    z-index:999;
    position: absolute;
    float: right;
    top: 4vw;
    left: 14vw; 
    width: 5vw;
    height: 5vw;  
}


/* BROOKLYN */ 
#brooklyn-hover-map{
    border: 1px green solid;
    z-index: 10;
    position: fixed;
    width: 46vw;
    height: 70vh;
    top: 20vh;
    right: 0;
    visibility: visible;
}


.hover-brooklyn-div{
    z-index: 12;
    border: 1px green solid;
    position: fixed;
    color: rgba(255,255,255,0);
    display: block;
}

#sprain-brooklyn{
    z-index:999;
    border: 1px green solid;
    position : absolute;
    float: right;
    top: 20vw;
    left: 5vw;
    width: 20vw;
    height: 20vw;
}

#cut-brooklyn{
    border: 1px green solid;
    z-index:999;
    position: absolute;
    float: right;
    top: 12vw;
    left: 4vw; 
    width: 14vw;
    height: 14vw;  
}



/* #bruise-brooklyn{
    z-index:999;
    position: absolute;
    float: right;
    top:28vw;
    right: 24vw; 
    width: 13vw;
    height: 13vw;   
}



#scratch-brooklyn{
    z-index:999;
    position: absolute;
    float: right;
    top: 4vw;
    left: 7vw; 
    width: 7vw;
    height: 7vw;  
}

#foreign-brooklyn{
    z-index:999;
    position: absolute;
    float: right;
    top: 28vw;
    right: 14vw; 
    width: 5vw;
    height: 5vw;  
}

#fracture-brooklyn{
    z-index:999;
    position: absolute;
    float: right;
    top: 22vw;
    right: 16vw; 
    width: 8vw;
    height: 6vw;  
}

#multiple-brooklyn{
    z-index:999;
    position: absolute;
    float: right;
    top: 4vw;
    left: 14vw; 
    width: 5vw;
    height: 5vw;  
}
 */
