@font-face {
    font-family:'Ogg-Roman';
    src: url('fonts/Ogg-Roman.eot');
    src: url('fonts/Ogg-Roman.ttf');
    format('truetype');
}

@font-face {
    font-family:'agipo_bold_condensed';
    src: url('fonts/agipo_bold_condensed.eot');
    src: url('fonts/agipo_bold_condensed.ttf');
    format('truetype');
}


html, body{
    background-color: #002B9C !important;
    box-sizing: border-box;
}

.container{
    padding-top: 2%;
    margin-bottom: 5%;
}


html, body{
    background-color: #C3D4DD !important;
    box-sizing: border-box;
}

/* NAVBAR */
#navbar-holder{
    padding-top: 2%;
    align-items: center;
    font-family: 'agipo_bold_condensed';
    text-transform: uppercase;
    font-size: 11pt;
    z-index: 5;
    position:sticky;
}

.col-6{
    text-align: left;
}

.col{
    text-align: right;
}

#a-daily, #a-reflection, #a-analysis{
    text-align: right;
    /* padding-top: 5%; */
    color: #002B9C;
    text-decoration: none;
}

#a-index{
    /* padding-top: 5%; */
    color: #002B9C;
    text-align: left;
    text-decoration: none;
}

#a-daily:hover, #a-index:hover, #a-reflection:hover, #a-analysis:hover {
    color: #818181;
}

/* NAVBAR HR */
.nav-hr{
    border-top: 0.15vh #002B9C solid;

}

/* SORRY INFO CONTAINER - LEFT */

/* test div */
/* div{
    border: 1px solid red; */
/* } */

#sorry-info-holder{
    /* border: 1px red solid; */
    height: 100vh;
    padding-top: 40vh;
    text-align: left;
    font-family: 'agipo_bold_condensed';
    font-size: 11pt;
    color: #002B9C;
    text-transform: uppercase;
    display: inline-block;
    position: fixed;
    float: right;
    padding-left: 0;
}

#sorry-info-hr{
    border-top: 0.15vh #002B9C solid;
    width: 4vw;
    float: left;
    /* border-radius: 1px; */
}

#sorry-info-p{
    padding-top: 35%;
    text-align: left;
}

#sorry-info-index, #sorry-info-location{
    /* border: 1px solid red; */
    padding: 0;
}

#sorry-count-holder{
    width: 100%;ˆ
    height: 25%;
    display: relative;
    /* border: 1px solid red; */
}

#date-holder{
    /* display: inline-block; */
    font-family: 'agipo_bold_condensed';
    text-transform: uppercase;
    font-size: 11pt;
    color: #002B9C;
    padding-top: 5vw;
    text-align: right;
    /* z-index: 5; */
    width: 100%;
    /* border: 1px solid red; */
}

#date{
    /* margin-left: 2vw; */
    /* display: inline-block; */
}

/* #date:hover{
    color: #818181; 
} */

#date-right-arrow{
    /* padding-bottom: 5px;
    padding-left: 3vw; */
    background-image: url("../assets/right_date_arrow.svg");
    border: none;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height:15px;
    /* display: block; */
    /* margin-left: 15vw; */
    z-index: 6;
    /* border: 1px solid red; */
    float: right;
    width: 3vw;
    /* margin: auto; */
    /* transform: translate(200px,0px); */
}

#date-left-arrow{
    background-image: url("../assets/left_date_arrow.svg");
    border: none;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height:15px;
    z-index: 6;
    float: right;
    width: 3vw;
}

#date-right-arrow:hover{
    background-image: url("../assets/hover_right_date_arrow.svg");
    border: none;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height:15px;
}

#date-left-arrow:hover{
    background-image: url("../assets/hover_left_date_arrow.svg");
}


#sorry-count-index{
    display: inline-block;
    height: 15vh;
    /* margin-bottom: 3vw; */
    display: relative;
    position: inline;
    margin-top: 5%;
}

#sorry-count-index > h2{
    font-family: 'Ogg-Roman';
    color: #818181;
    text-align: left;
    font-size: 15.5vw;
    letter-spacing: 3pt;
    line-height: 14vw;
    text-transform: lowercase;
}


