@font-face {
    font-family:'GT-Sectra-Medium-Italic';
    src: url('assets/fonts/GT-Sectra-Medium-Italic.eot');
    src: url('assets/fonts/GT-Sectra-Medium-Italic.ttf');
    format('truetype');
}

@font-face {
    font-family:'GT-Sectra-Medium';
    src: url('assets/fonts/GT-Sectra-Medium.eot');
    src: url('assets/fonts/GT-Sectra-Medium.ttf');
    format('truetype');
}

@font-face {
    font-family:'GT-America-Mono-Light';
    src: url('assets/fonts/GT-America-Mono-Light.eot');
    src: url('assets/fonts/GT-America-Mono-Light.ttf');
    format('truetype');
}

div{
    border: 1px solid red;
}

body{
    background-color: #B6B6B6 !important;
    overflow: hidden;
}

#header-nav{
    width: 100vw;
    position:relative;
    height: 25vh;
}

#about-container{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 4vw;
    height: 100vh;
}

#about-div{
    transform:translateY(50vh);
    position:relative;
    width: 100%;
}

#about-nav-text{
    font-family:'GT-America-Mono-Light';
    font-size: 1.15vw;
    color: white;
    text-align: center;
    transform: rotate(-90deg);
    letter-spacing: 0.75pt;
}

#author-title-container{
    padding-top: 3vh;
    position: relative;
    margin-left: 1vw;
}


#author-title-div{
    /* height: 15vh; */
    color: black;
    position: relative;
    float: left;
    margin-left: 8vw;
}

/* #title-h2 {
    font-family: 'Gt-Sectra-Medium-Italic';
    font-size: 4vw;
    line-height: 4vw!important;
    color: black;
    text-transform: none;
} */

#title-h2 a{
    font-family: 'Gt-Sectra-Medium-Italic';
    font-size: 4vw;
    line-height: 3.7vw;
    color: black;
    text-transform: none;
}

#title-h2 a:hover{
    color: black;
    opacity: 0.4;
    text-decoration: none !important;
}

#author-name-div{
    padding: 2vh;
    position: relative;
    float: left;
    margin-left: 1vw;
    line-height: 0.1vw !important;
}

.author-link{
    font-family:'GT-America-Mono-Light';
    font-size: 0.9vw;
    line-height: 0.3vw !important;
    color: rgb(53, 53, 53);
    text-decoration: none;
    color: rgb(53, 53, 53);
}

.author-link a{
    font-family:'GT-America-Mono-Light';
    font-size: 0.9vw;
    line-height: 0.3vw !important;
    color: rgb(53, 53, 53);
    text-decoration: none;
    color: rgb(53, 53, 53);
}

.author-link:hover{
    text-decoration: none !important;
    color: white !important;
}

#header-hr{
    border-bottom: 1.45px solid white;
    position: relative;  
}
