@font-face {
    font-family:'GT-Sectra-Medium-Italic';
    src: url('assets/fonts/GT-Sectra-Medium-Italic.eot');
    src: url('assets/fonts/GT-Sectra-Medium-Italic.ttf');
    format('truetype');
}

@font-face {
    font-family:'GT-Sectra-Medium';
    src: url('assets/fonts/GT-Sectra-Medium.eot');
    src: url('assets/fonts/GT-Sectra-Medium.ttf');
    format('truetype');
}

@font-face {
    font-family:'GT-America-Mono-Light';
    src: url('assets/fonts/GT-America-Mono-Light.eot');
    src: url('assets/fonts/GT-America-Mono-Light.ttf');
    format('truetype');
}

/* div{
    border: 1px solid red;
} */

body{
    background-color: #B6B6B6 !important;
    overflow: hidden;
}

#about-container{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 4vw;
    height: 100vh;
}

#about-div{
    transform:translateY(50vh);
    position:relative;
    width: 100%;
}

#about-nav-text{
    font-family:'GT-America-Mono-Light';
    font-size: 1.15vw;
    color: white;
    text-align: center;
    transform: rotate(-90deg);
    letter-spacing: 0.75pt;
}

#title-container{
    bottom: 4vh;
    float: left;
    left: 8vw;
    width: 100vw;
    position:absolute;
}

#title-div{
    position:relative;
    float: left;
    left: 0;
}

#title-h2{
    font-family: 'GT-Sectra-Medium-Italic';
    font-size: 14.5vw;
    letter-spacing: 0.5pt;
    line-height: 14vw;
    color: black;
}

#author-div{
    font-family:'GT-America-Mono-Light';
    font-size: 1.175vw;
    line-height: 1.5vw;
    color: rgb(53, 53, 53);
    position: relative;
    left: 0;
    width: 100vw;
    border-bottom: 1.45px solid white;
    margin-bottom: 2vh;
    padding-bottom: 2vh;
}

.author-link{
    text-decoration: none;
    color: rgb(53, 53, 53);
}

.author-link:hover{
    text-decoration: none !important;
    color: white !important;
}